 /* .circle {  
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    line-height: 500px;
    text-align: center;
    background: #000
  }
  /* <div class="circle">Hello I am A Circle</div> */ 